/* GENERAL  */
body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.dark {
  background-color: rgb(19, 11, 11);
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(19, 11, 11);
}

/* MAIN */

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoMain{
  padding: 20px 30px;
  border-radius: 8px;
}

.toDoStyling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

input[type=text]{
  flex: 1;
  padding: 8px;
  border: 1px solid slategray;
  border-radius: 4px;
}

.addBtn {
  padding: 8px 12px;
  border: none;
  background-color: #a7289c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background: #f9f9f9;
  color: black;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  background-color: greenyellow;
}

.removeItemBtn {
  background: #dc3545;
  border: none;
  color: rgb(7, 0, 0);
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.checkItemBtn {
  background: greenyellow;
  border: none;
  color: rgb(7, 0, 0);
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background: #c82333;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 11, 11);
}


