:root {
  /* Farge variabler */
  --primaryColor: #fcc388ff; /* Peach */
  --secondaryColor: #ffc5c9ff; /* Tea rose red*/
  --accentColor: #ffffd1ff; /* Cream */
  --accentColorTwo: #fee5d0ff; /* Champagne pink*/
  --accentColorThree: #fff6edff; /* Seashell */

  /* Størrelse variabler */
  --smallSpace: 8px;
  --mediumSpace: 16px;
  --largeSpace: 24px;
  --fullScreen: 100vh;

  /* Skrift variabler */
  --fontFamily: "Roboto";
  --fontSize: 18px;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--fontFamily);
}

.dark {
  background-color: rgb(19, 11, 11);
  color: white;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: rgb(19, 11, 11);
}

/* Nav */
.navList {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

/* MAIN */

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toDoMain{
  padding: 20px 30px;
  border-radius: 8px;
}

.toDoStyling {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

input[type=text]{
  flex: 1;
  padding: 8px;
  border: 1px solid slategray;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #a7289c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background: #f9f9f9;
  color: black;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  background-color: greenyellow;
}

li button {
  background: #dc3545;
  border: none;
  color: rgb(7, 0, 0);
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background: #c82333;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(19, 11, 11);
}


